infrastructure/n8n-workflows/linkedin-post-writer.json
{
    "name": "LinkedIn Post Writer (Clawdbot)",
    "nodes": [
        {
            "parameters": {
                "rule": {
                    "interval": [
                        {
                            "field": "cronExpression",
                            "expression": "30 8 * * *"
                        }
                    ]
                }
            },
            "id": "schedule-trigger",
            "name": "Daily at 8:30 AM",
            "type": "n8n-nodes-base.schedule",
            "typeVersion": 1,
            "position": [
                460,
                300
            ]
        },
        {
            "parameters": {
                "authentication": "googleSheetsOAuth2Api",
                "documentId": {
                    "__rl": true,
                    "value": "1tjfCvhIbDkF27bf-THsXjUWCnsUiICDm7q6k8gk9K8M",
                    "mode": "id"
                },
                "sheetName": {
                    "__rl": true,
                    "value": "Topic Ideas",
                    "mode": "name"
                },
                "options": {}
            },
            "id": "read-topics",
            "name": "Read Topic Ideas",
            "type": "n8n-nodes-base.googleSheets",
            "typeVersion": 4,
            "position": [
                680,
                300
            ],
            "credentials": {
                "googleSheetsOAuth2Api": {
                    "id": "YOUR_GOOGLE_SHEETS_CRED_ID",
                    "name": "Google Sheets Account"
                }
            }
        },
        {
            "parameters": {
                "method": "POST",
                "url": "http://172.17.0.1:18789/v1/messages",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Authorization",
                            "value": "Bearer YOUR_GATEWAY_TOKEN"
                        },
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "agentId",
                            "value": "main"
                        },
                        {
                            "name": "message",
                            "value": "={{ 'Write a LinkedIn post about: ' + $json.topic + '\\n\\nRules: Write like Martin, direct, warm, not corporate. 1-2 sentences max. End with a question. No emojis unless topic implies it. No links.' }}"
                        }
                    ]
                },
                "options": {}
            },
            "id": "clawdbot-draft",
            "name": "Clawdbot Writer",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4,
            "position": [
                900,
                300
            ]
        },
        {
            "parameters": {
                "authentication": "googleSheetsOAuth2Api",
                "operation": "append",
                "documentId": {
                    "__rl": true,
                    "value": "1tjfCvhIbDkF27bf-THsXjUWCnsUiICDm7q6k8gk9K8M",
                    "mode": "id"
                },
                "sheetName": {
                    "__rl": true,
                    "value": "Post Queue",
                    "mode": "name"
                },
                "columns": {
                    "mappingMode": "defineBelow",
                    "value": {
                        "Draft": "={{ $json.response }}",
                        "Status": "Draft"
                    },
                    "matchingColumns": [],
                    "schema": [
                        {
                            "id": "Draft",
                            "displayName": "Draft",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true,
                            "readOnly": false,
                            "removed": false
                        },
                        {
                            "id": "Status",
                            "displayName": "Status",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true,
                            "readOnly": false,
                            "removed": false
                        }
                    ]
                },
                "options": {}
            },
            "id": "save-draft",
            "name": "Save to Queue",
            "type": "n8n-nodes-base.googleSheets",
            "typeVersion": 4,
            "position": [
                1120,
                300
            ],
            "credentials": {
                "googleSheetsOAuth2Api": {
                    "id": "YOUR_GOOGLE_SHEETS_CRED_ID",
                    "name": "Google Sheets Account"
                }
            }
        },
        {
            "parameters": {
                "amount": "={{ Math.floor(Math.random() * (17 - 3 + 1) + 3) }}",
                "unit": "minutes"
            },
            "id": "random-delay",
            "name": "Random Delay",
            "type": "n8n-nodes-base.wait",
            "typeVersion": 1,
            "position": [
                1240,
                300
            ]
        },
        {
            "parameters": {
                "chatId": "YOUR_TELEGRAM_CHAT_ID",
                "text": "={{ '📝 *New LinkedIn Draft*\\n\\n' + $json.Draft }}",
                "additionalFields": {
                    "parse_mode": "Markdown"
                }
            },
            "id": "telegram-notify",
            "name": "Notify Telegram",
            "type": "n8n-nodes-base.telegram",
            "typeVersion": 1.2,
            "position": [
                1460,
                300
            ],
            "credentials": {
                "telegramApi": {
                    "id": "YOUR_TELEGRAM_CRED_ID",
                    "name": "Telegram Account"
                }
            }
        }
    ],
    "connections": {
        "Daily at 8:30 AM": {
            "main": [
                [
                    {
                        "node": "Read Topic Ideas",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Read Topic Ideas": {
            "main": [
                [
                    {
                        "node": "Clawdbot Writer",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Clawdbot Writer": {
            "main": [
                [
                    {
                        "node": "Save to Queue",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Save to Queue": {
            "main": [
                [
                    {
                        "node": "Random Delay",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Random Delay": {
            "main": [
                [
                    {
                        "node": "Notify Telegram",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}